<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishPro</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/book-open.svg">           
</head>
<body>
    <div class="logo-reg">
        <a href="index.html"><img src="/static/arrow-left.svg">Повернутися на Головну</a>
    </div>
    <div class="logo-form"><img src = "static/icon.svg"></div>
    <h1> Вхід в EnglishPro</h1>
    <p>Увійдіть до свого облікового запису</p>
    <form>
        <label form="e-mail">Електрона пошта</label>
    </form>
    <div class="input">
        <img src="/static/mail.svg">
    </div>
    <input type="email" id="e-mail" name="e-mail" placeholder="your@email.com" required>
    <div class="input">
        <img src="/static/lock.svg">
    </div>
    <input type="password" id="password" name="password" placeholder="********" required>
    <button type="submit" class="submit-btn">Увійти</button>
</body>
</html>