{% extends "base.html" %}
{% block title %}Аудіювання{% endblock %}

{% block content %}

<div class="test page audio">

    <div class="test header">
        <h1>Аудіювання</h1>
    </div>

    <div class="test stats">
        <div class="test card"><p>Прогрес</p><span>progress</span></div>
        <div class="test card"><p>Правильних відповідей</p><span>right</span></div>
    </div>

    <div class="test progress-bar">
        <div class="test progress-fill"></div>
    </div>

    <div class="test main">

        <p class="test label">
            Прослухайте речення та напишіть його англійською:
        </p>

        <div class="audio sentence">sentence</div>

        <button class="test button secondary">Прослухати</button>

        <input class="test input" placeholder="Введіть речення англійською...">

        <button class="test button primary">Перевірити</button>
    </div>

</div>

{% endblock %}
