
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
}


.modal-content {
    background: #ffffff;
    width: 380px;
    margin: 120px auto;
    padding: 25px;
    border-radius: 14px;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: #e60000;
}


.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.login-box label {
    font-size: 14px;
    margin-top: 10px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-submit {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #3b59ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-submit:hover {
    background: #2f49d1;
}

.register-link {
    text-align: center;
    margin-top: 12px;
}

.register-link a {
    color: #3b59ff;
}


