
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Pacifico&display=swap');


body {
    margin: 0;
    padding: 0;
    background: #90e0ef;
    font-family: 'Caveat', cursive;
    color: #03045e;
    width: 100%;
}


h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
    color: #03045e;
    margin: 0;
}
a {
    text-decoration: none;
    color: #023e8a;
}
a:hover {
    color: #0077b6;
}


.navbar {
    width: 95%;
    background: #03045e;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ade8f4;
    font-size: 22px;
}

.logo-icon img {
    width: 10%;
    height: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-menu a {
    color: #90e0ef;
    font-size: 22px;
}
.nav-menu a:hover {
    color: #48cae4;
}

.login-btn {
    background: #00b4d8;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.login-btn:hover {
    background: #0096c7;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(#023e8a, #0077b6);
    color: white;
}

.hero-image {
    width: 160px;
    margin-bottom: 20px;
}

.hero p {
    color: #ade8f4;
    max-width: 700px;
    margin: 10px auto;
    font-size: 24px;
}

.features {
    padding: 50px 20px;
    text-align: center;
}

.features-title {
    font-size: 34px;
}

.features-subtitle {
    font-size: 26px;
    margin-bottom: 40px;
}

.cards {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

.card {
    background: #ade8f4;
    border: 3px solid #0096c7;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 28px;
}

.card p {
    font-size: 22px;
    color: #023e8a;
}

.card-icon {
    font-size: 32px;
    margin-bottom: 10px;
}


.floating-icons {
    position: fixed;
    right: 25px;
    top: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.floating-icons .icon {
    background: #00b4d8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.floating-icons .icon:hover {
    background: #0096c7;
}

.footer {
    background: #03045e;
    color: #ade8f4;
    padding: 50px 0 20px;
    margin-top: 60px;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    padding: 0 40px;
}

.footer-col h4 {
    font-size: 26px;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
    font-size: 22px;
    color: #90e0ef;
}

.footer-logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ade8f4;
}

.footer-desc {
    font-size: 22px;
    margin-top: 10px;
}

.footer-socials .social-icons a {
    font-size: 26px;
    margin-right: 10px;
    color: #90e0ef;
}
.footer-socials .social-icons a:hover {
    color: #48cae4;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #90e0ef;
    padding-top: 10px;
}

/* Logo */
.logo-reg {
    width: 70%;
    margin: 50px 15%;
}
.logo-reg a {

}
.logo-form {
    text-align: center;
    background-color: white;
    border: #0077b6 solid 5px;
    border-radius: 15px;
    padding: 15px;
}
.logo-form img {
    width: 10%;
}