
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Pacifico&display=swap');


body {
    margin: 0;
    padding: 0;
    background: #90e0ef;
    font-family: 'Caveat', cursive;
    color: #03045e;
}


h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
    color: #03045e;
    margin: 0;
}
a {
    text-decoration: none;
    color: #023e8a;
}
a:hover {
    color: #0077b6;
}


.navbar {
    width: 100%;
    height: 80px;
    background: #03045e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-icon img {
    width: 45px;
    height: 45px;
}
.logo-text{
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ade8f4;
    font-size: 22px;
    margin-left: 3%;
}

.nav-menu {
    width: 40%;
    list-style: none;
    display: flex;
    gap: 40px;
}
.nav-menu a {
    color: #90e0ef;
    font-size: 22px;
}
.nav-menu a:hover {
    color: #48cae4;
}
.login-btn img{
    filter: brightness(0) saturate(100%) invert(2%) sepia(100%) saturate(7500%) hue-rotate(200deg) brightness(90%) contrast(105%);

}

.login-btn {
    width: 8%;
    background: #00b4d8;
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 24px;
    text-align: center;
    color: #03045e;
    cursor: pointer;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}
.login-btn:hover {
    background: #0096c7;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(45deg, #03045e, #023e8a, #0077b6, #0096c7);
    color: white;
}

.hero-image {
    width: 160px;
    margin-bottom: 20px;
}

.hero p {
    color: #ade8f4;
    max-width: 700px;
    margin: 10px auto;
    font-size: 24px;
}

.features {
    padding: 50px 20px;
    text-align: center;
}

.features-title {
    font-size: 34px;
}

.features-subtitle {
    font-size: 26px;
    margin-bottom: 40px;
}

.cards {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

.card {
    background: #ade8f4;
    border: 3px solid #0096c7;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 28px;
}

.card p {
    font-size: 22px;
    color: #023e8a;
}

.card-icon {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    font-size: 32px;
    margin-bottom: 10px;
}
.card:nth-child(1) .card-icon {
    background: #0077b6;

}
.card:nth-child(2) .card-icon {
    background: #0096c7;

}
.card:nth-child(3) .card-icon {
    background: #00b4d8;

}
.card:nth-child(4) .card-icon {
    background: #48cae4;

}
.card-icon img, .floating-icons img{
    filter: invert(1);
}
.floating-icons .icon:nth-child(1){
    background: #0077b6;

}
.floating-icons .icon:nth-child(2) {
    background: #0096c7;

}
.floating-icons .icon:nth-child(3)  {
    background: #00b4d8;

}
.floating-icons .icon:nth-child(4) {
    background: #48cae4;

}

.floating-icons {
    position: fixed;
    right: 25px;
    top: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.floating-icons .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.floating-icons .icon:hover {
    background: #0096c7;
}

.footer {
    width: 100%;
    background: #03045e;
    color: #ade8f4;
    padding: 50px 0 20px;
    margin-top: 60px;
}

.footer-content {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}
.footer-brand{
    width: 15%;
    margin-left: 10px;
}
.footer-desc{
    font-size: 20px;

}

.footer-list{
    width: 40%;
    list-style: none;
    font-size: 20px;
    

}

.footer ul{
    list-style: none;
    color: #90e0ef;
}

.footer ul li a{
    color: white;
}

.footer-cont{
    color: white;
}

.footer-cont img{
    filter: invert(1);

}

.footer-bottom{
    width: 100%;
    margin: 10px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #90e0ef;
}

.social-icons{
    display: flex;
    gap: 15px;
    width: 30%;
}

.social-icons img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert(1);
}

/* lofin page */

.logo-reg {
    width: 100%;
    height: 100vh;
    background: #90e0ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Caveat', cursive;
    box-shadow: 8px -2px 5px 4px rgba(0,0,0,0.44);
    -webkit-box-shadow: 8px -2px 5px 4px rgba(0,0,0,0.44);
    -moz-box-shadow: 8px -2px 5px 4px rgba(0,0,0,0.44);
}

.btn-back {
    font-size: 20px;
    color: #03045e;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: -10%;
}

.logo-form {
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #023e8a;
    width: 350px;
    border: 2px solid #023e8a;
}

.logo-form img {
    width: 80px;
    height: 80px;
}

.logo-form p{
    font-size: 25px;
}

.login-form{
    text-align: left;
}

label {
    font-size: 20px;
    margin-left: 6%;
}  

.input{
    display: flex;
}

input{
    color: #03045e;
    background: #90e0ef;
    width: 100%;
    padding: 10px 40px;
    margin: 10px 0 20px 0;
    border: 2px solid #0077b6;
    border-radius: 6px;
    font-size: 18px;
}

input::placeholder{
    color: #03045e;
    font-size: 15px;
}

.input img{
    width: 10%;
    height: auto;
    position: relative;
    top: -4px;
    left: 35px;
    filter: invert(1);
}

.btn-login{
    width: 95%;
    margin-left: 6%;
    background: #03045e;
    border: none;
    padding: 10px 0;
    border-radius: 6px;
    font-size: 24px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.register-link a{
    color: #0077b6;

}

.register-link{
    font-size: 15px;
}

.error{
    color:red
}