<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EasyEnglish{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='src/icon.svg') }}">
</head>
<body>

<div class="sidebar">


    <div class="logo">
        <img src="{{ url_for('static', filename='src/icon.svg') }}">
    </div>


    <div class="user-profile">
        <div class="avatar">
            <img src="{{ url_for('static', filename='src/user.svg') }}">
        </div>
        <div class="user-info">
            <p>{{ session.get('user', 'Користувач') }}</p>
            <small>Учень</small>
        </div>
    </div>


    <div class="menu">
        <p>Завдання</p>

        <a href="{{ url_for('words') }}" class="menu-item">
            <img src="{{ url_for('static', filename='src/languages.svg') }}">
            <p>Вивчення слів</p>
        </a>

        <a href="{{ url_for('audio') }}" class="menu-item">
            <img src="{{ url_for('static', filename='src/headphones.svg') }}">
            <p>Аудіювання</p>
        </a>

        <a href="{{ url_for('grammar') }}" class="menu-item">
            <img src="{{ url_for('static', filename='src/book-text.svg') }}">
            <p>Граматика</p>
        </a>

        <a href="{{ url_for('verbs') }}" class="menu-item">
            <img src="{{ url_for('static', filename='src/clock.svg') }}">
            <p>Дієслова та часи</p>
        </a>

        <a href="{{ url_for('index') }}" class="menu-item">
            <img src="{{ url_for('static', filename='src/home.png') }}">
            <p>На головну</p>
        </a>
    </div>


    <div class="logout-section">
        <a href="{{ url_for('logout') }}" class="btn-log-out">
            <img src="{{ url_for('static', filename='src/log-out.svg') }}">
            <p>Вийти</p>
        </a>
    </div>
</div>

<div class="content-area">
    {% block content %}{% endblock %}
</div>

</body>
</html>
