<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>EnglishPro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
        <aside class="sidebar">
            <div class="logo">
                <img src="/static/src/icon.svg">EasyEnglish
            </div>

            <div class="user-profile">
                <div class="avatar"><img src="/static/src/user.svg"></div>
                <div class="user-info">
                    <p class="user-name">Іван Петренко</p>
                    <p class="user-role">Учень</p>
                </div>
            </div>

            <nav class="menu">
                <p class="menu-div">Завдання</p>
                
                <div for="tab-vocab" class="menu-item vocab-btn">
                    <span class="icon"><img src="/static/src/languages.svg"></span> Вивчення слів
                </div>
                
                <div for="tab-audio" class="menu-item audio-btn">
                    <span class="icon"><img src="/static/src/headphones.svg"></span> Аудіювання
                </div>
                
                <div for="tab-grammar" class="menu-item grammar-btn">
                    <span class="icon"><img src="/static/src/book-text.svg"></span> Граматика
                </div>
                
                <div for="tab-verbs" class="menu-item verbs-btn">
                    <span class="icon"><img src="/static/src/clock.svg"></span> Дієслова та часи
                </div>
            </nav>

            <div class="logout-section">
                <div class="menu-item"><img src="/static/src/log-out.svg"> Вийти</div>
            </div>
        </aside>

        <main class="content-area">
            
        </main>
        <script src="" defer></script>
</body>
</html>