<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel ="icon" href="/static/src/icon.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EnglishPro100</title>
</head>
<body>
    <div class = "logo-reg">
        <a href="index.html"><img src = "/static/src/arrow-left.svg">Back to main</a>
    <div class = "logo-form">
        <img src = "/static/src/icon.svg">
        <h1>Вхід в EnglishPro100</h1>
        <p>Увійдіть до свого облікового запису</p>
        <form>
            <label for="email">Веди пошту</label>
            <div class="input">
                <img src = "/static/src/mail.svg">
                <input type="email" id = "email" class = "email" name = "email" required>
            </div>
            <label for="password">Веди пароль</label>
            <div class="input">
                <img src = "/static/src/lock.svg">
                <input type="password" id = "password" class = "password" name = "password" required>
            </div>
            <button type="submit">Увійти</button>
        </form>
        </div>
    </div>
</body>
</html>