<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyEnglish — Вхід</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/src/icon.svg">
</head>

<body class="auth-bg">

    <a href="/" class="btn-back">
        <img src="/static/src/arrow-left.svg">Назад на головну
    </a>

    <div class="logo-form">
        <img src="/static/src/icon.svg">
        <h2>Вхід в EasyEnglish</h2>
        <p>Увійдіть до свого облікового запису</p>
        <p class="error"></p>

        <form class="login-form">
            <label>Введи пошту</label>
            <div class="input">
                <img src="/static/src/mail.svg">
                <input type="email" id="email" required placeholder="Введи пошту">
            </div>

            <label>Введи пароль</label>
            <div class="input">
                <img src="/static/src/lock.svg">
                <input type="password" id="password" required placeholder="Введи пароль">
            </div>

            <button type="submit" class="btn-login">Увійти</button>
        </form>

        <p class="register-link">
            Ще немає облікового запису?
            <a href="/register">Зареєструватися</a>
        </p>
    </div>

    <script src="/static/login.js" defer></script>
</body>
</html>
